<!DOCTYPE html> 

<html>
    <head>
    <title>sidenav</title>
    <link rel="stylesheet" href="sidenav.component.scss" />
    </head>

<body>
<nav>
<ul>
    <div class="logo">
        
            <img src="assets\images\logo.png" alt="logo">
            <br>
            
    </div>
<br>
    <li>
        <a href="#">
        <i class=""></i>
        <img src="assets\images\dashboard.png" alt="dashboard" width="20" height="25">
        <span class="nav item">Dashboard</span>
    </a>
    </li>

    <li>
        <a href="#">
        <i class=""></i>
        <img src="assets\images\user.png" alt="User-Manager" width="20" height="25">
        <span class="nav item">User-Manager</span>
    </a>
    </li>

    <li>
        <a href="#">
        <i class=""></i>
        <img src="assets\images/products.png" alt="products" width="20" height="25">
        <span class="nav item">Products</span>
    </a>
    </li>

    <li>
        <a href="#" class="settings">
        <i class="settings"></i>
        <img src="assets\images\settings.png" alt="settings" width="20" height="25">
        <span class="nav item"> Settings </span>
    </a>
    </li> 

    <li>
        <a routerLink="/logout" class="logout">
        <i class="logout"></i>
        <img src="assets\images\logout.png" alt="logout" width="20" height="25">
        <span class="nav item">Log out</span>
    </a>
    </li> 

</ul>
</nav>
</body>
</html>