* {
  box-sizing: border-box;
  }

 /* .header{
      
      background-attachment: fixed;
      padding: 0px;
      
  }*/
  nav{
      margin-top: 0cm;
  }
  ul{
      background-color: #A47C54;
      min-height: 80px;
      font-family: courier, monospace;
      font-style: normal;
      font-size: 0px;
 
  }

  a{ /*TEXT*/
      color: white;
      font-style: italic;
      font-size: 15px;
      display: table;
      padding: 15px;   
      margin: 8px 0 0 20px;
  }
  
  span{
      margin-right: 50px;
  }
  .user{
      display: inline-block;
  }
  .profile{
      margin-right: 20px;
  }
  
  li{
      float: right;
      top: 14px;
  }

  @media screen and (max-width: 600px) {

  .column {
      width: 100%;
          }
  }
