<!--<div class="header">
    <img src="assets\images\cover2.png" class="header">
-->
   <!-- <p class="flowers"><b>Resize the browser window to see and experience the responsive effect</b></p>-->
    <!--</div> 
-->
    <nav>
<ul>
<li>
    <a routerLink="/login">
    <i class="user">
    </i>
    <img src="assets\images\user.png" alt="user" width="25" height="25" class="profile">
    <span class="nav item">angeljuganas</span>
</a>
</li>
</ul>
</nav>
 <!-- <div class="row">

        <div class="column left">
            <h1>DEPARTMENT OF TOURISM</h1>
            <p class="justify bold"><em>
            Established in 1973, the Department of Tourism (DOT) is the Philippines’ executive
            office responsible for the regulation and promotion of the Philippine tourism industry.
            <br><br>
            DOT’s mission is to encourage, promote, and develop tourism as a major socio-economic 
            ctivity to generate foreign currency and local employment, ultimately spreading the benefits
            of tourism to both the private and public sector.
            <br><br>
            DOT is led by the Office of the Tourism Secretary. The Office of the Secretary
            formulates policies, plans, programs, rules, and regulations. The office also reviews
            and evaluates the performance of the Tourism Master Plan and advises the President on
            all matters affecting the tourism program of the country and the advancement of the
            Philippines as a premier tourist destination for all travelers and tourists.
            </em></p>
            
            
        <h1>MISSION</h1>
        <p class="justify bold"><em>
        Formulate tourism plans and programs to promote, develop and regulate the country’s tourism
        industry as a major socio-economic activity that generates foreign currency and local
        employment, and to spread the benefits of tourism to a wider segment of the population
        with the support, assistance, and cooperation of both the private and public sectors.
        </em></p>
        
        
        <h1>VISION</h1>
        <p class="justify bold"><em>
        Position the Philippines as a premier tourist destination in Asia.
        </em>
        </div>

        <div class="column middle">
        <h1>DOT KEY OFFICIALS</h1>
            <img src="puyat.jpg" width="40%" class="border">
            <img src="enrille.jpg" width="40%" class="border">
            <img src="ala.jpg" width="40%" class="border">
            <img src="aus.jpg" width="40%" class="border">
        </div>

        <div class="column right">
            <img src="dot.png" class="dot">
            <p class="phil" valign="bottom">
                Department of Tourism
                <br>
                The New DOT Building, 351 Sen. Gil J. Puyat
                <br>
                Avenue, Bel-Air, Makati
                <br>
                https://www.tourism.gov.ph
                <br>
                Tel.No.:(632) 8459-5200 to 8459-5230 Loc. (212 and 232)
                <br>
                Tourism Information Center Tel. No.:(632)
                <br>
                8459-5200 to 5230 Loc. 100-102
            </p>
        </div>
      </div> 
    -->

       <p>topnav works!</p> 
